@model IEnumerable<Comment>

@foreach (Comment comment in Model)
{
    <div style="justify-content:space-between;" class="comment text-light">
        <div style="display:flex;align-items:center;">
            <div style="margin-right:5px;">
                <img src="~/assets/Photos/ProfilePhotos/@comment.User.ProfilePhotoUrl" alt="">
            </div>
            <a style="text-decoration: none; color: #fff;" asp-controller="Profile" asp-action="UserProfile" asp-route-id="@comment.UserId"><span class="postOwnerName">@comment.User.UserName</span></a>
            @if (comment.User.HaveBlueTic)
            {
                <i style="color: #3797F0;font-size: 16px;margin-left: 10px;" class="fas fa-check-circle"></i>
            }
            <div class="commentArea">
                <span>@comment.Description</span>
            </div>
        </div>
        <div>
            <span class="mx-2">@comment.CreatedAt?.ToString("dd MMMM HH:mm")</span>
        </div>
    </div>
}