@model IEnumerable<Follower>

<div>
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (Follower user in Model)
        {
            <div class="my-3 text-light" style="display:flex;justify-content:space-between;align-items:center">
                <div style="display:flex;justify-content:start;align-items:center">
                    <div style="margin-right">
                        <img style="width:50px;height:50px;border-radius:25px;object-fit:cover" src="~/assets/Photos/ProfilePhotos/@user.UserFollower.ProfilePhotoUrl" alt="">
                    </div>
                    <a asp-controller="profile" asp-action="userprofile" asp-route-id="@user.UserFollower.Id" style="text-decoration: none; color: #fff;"><span class="postOwnerName">@user.UserFollower.UserName</span></a>
                    @if (user.User.HaveBlueTic)
                    {
                        <i style="color: #3797F0;font-size: 16px;margin-left: 10px;" class="fas fa-check-circle"></i>
                    }
                </div>
                <div>
                    <span class="mx-2">@user.UserFollower.Name @user.UserFollower.SurName</span>
                </div>
            </div>
        }
    }
    else
    {
        <h3 class="text-light my-5">No Followers Yet</h3>
    }
</div>
