@model IEnumerable<Post>

@if (Model != null && Model.Count() > 0)
{
    foreach (Post post in Model)
    {
        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">

            @if (post.ImageUrl.EndsWith(".MOV") || post.ImageUrl.EndsWith(".mp4") || post.ImageUrl.EndsWith(".MP4"))
            {
                <video style="width: 100%;object-fit: contain;">
                    <source src="~/assets/Photos/Posts/@post.ImageUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                <img src="~/assets/Photos/Posts/@post.ImageUrl" alt="">
            }
            
        </a> 
    }
}
else
{
    <h3 class="text-light my-5">No Posts Yet</h3>
}