@model SugVM
@foreach (AppUser user in Model.Suggestions)
{
    <div class="navForSug">
        <div>
            <img src="~/assets/Photos/ProfilePhotos/@user.ProfilePhotoUrl" alt="">
            <a style="color: #fff;" asp-action="UserProfile" asp-controller="Profile" asp-route-id="@user.Id"><span class="postOwnerName">@user.UserName</span></a>
            @if (user.HaveBlueTic)
            {
                <i style="color: #3797F0;font-size: 16px;margin-left: 10px;" class="fas fa-check-circle"></i>
            }
        </div>
        
        @if (user.Followers.Any(u=>u.UserFollowerId == Model.MyProfile.Id))
        {
            <a asp-controller="Profile" asp-action="UnFollow" asp-route-id="@user.Id">UnFollow</a>
        }
        else
        {
            <a asp-controller="Profile" asp-action="Follow" asp-route-id="@user.Id">Follow</a>
        }
    </div>
}